<section class="form-contact">
    <form action="/gracias" method="post">
        <h2>Enviar su mensaje</h2>
        <input class="controles" type="text" name="Nombre" id="" placeholder="Ingrese el Nombre">
        <input class="controles" type="email" name="Email" id="" placeholder="Ingrese su Email">
        <textarea class="controles" name="Mensaje" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
        <a href="/gracias" class="btn boton" role="button">Enviar</a>
    </form>
</section>