<div class="form-gracias">
     <div class="conten-img">
          <img src="./img/like.jpg" class="img-gracias">
     </div>

     <div class="conten-text">
          <h2>
               Gracias por mandar su mensaje le responderemos en 2 a 3 dias 
          </h2>
          <br>
          <h4>Le dejamos nuestras redes sociales para que nos contacte</h4>
          
          <div class="sociales">
               <div class="row">
                    <div class="col-md-4">
                         <!--Facebook-->
                         <a class="facebook" href="#">
                              <i class="fab fa-facebook-square"></i>
                         </a>
                    </div>

                    <div class="col-md-4">
                         <!--Telegram-->
                         <a class="telegram" href="#">
                              <i class="fab fa-telegram"></i>
                         </a>
                    </div>

                    <div class="col-md-4">
                         <!--Twitter-->
                         <a class="twitter" href="#">
                              <i class="fab fa-twitter-square"></i>
                         </a>
                    </div>
               </div>
          </div>
     </div>
</div>